@model IEnumerable<PatternConstructor.Models.CreatedFile>

@{
    ViewData["Title"] = "History";
}

<h1 class="text-DarkPurple text-center fw-bold">Созданные выкройки</h1>

<div class="album py-5">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            @foreach (var item in Model)
            {
              <div class="col">
                    <div class="card shadow-sm bg-LightPink">
                        <div class="card-body">
                            <p class="card-text text-DarkPurple fs-5">@Html.DisplayFor(modelItem => item.Name)</p>
                            <a class="text-DarkPurple fs-5 text-decoration-underline" href=@Html.DisplayFor(modelItem => item.PatternLink) download="Pattern.pdf">
                                Загрузить файл выкройки
                            </a>
                            <br>
                            @if(item.DescribtionLink!=null)
                            {
                                <a class="text-DarkPurple fs-5 text-decoration-underline" href=@Html.DisplayFor(modelItem => item.DescribtionLink) download="Description.pdf">
                                    Загрузить файл описания пошива
                                </a>
                            }
                            
                        </div>
                    </div>
               </div>
                         
            }
            
      </div>
    </div>

    
  </div>



@*
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PatternLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescribtionLink)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PatternLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescribtionLink)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
*@