@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model StandartMeasure
 
<table class="table text-DarkPurple fs-5">
    <thead>
        <tr>
            <th scope="col">Мерка</th>
            <th scope="col">Значение, см</th>
        </tr>
    </thead>
    <tbody>
    <tr>
      <td>Рост</td>
      <td>@Model.Height</td>
    </tr>

    <tr>
      <td>Размер</td>
      <td>@Model.Size</td>
    </tr>

    <tr>
      <td>Обхват груди ОГ3</td>
      <td>@Model.Measure.BustGirth</td>
    </tr>

    <tr>
      <td>Обхват талии</td>
      <td>@Model.Measure.WaistGirth</td>
    </tr>

    <tr>
      <td>Обхват бедер</td>
      <td>@Model.Measure.HipsGirth</td>
    </tr>

    <tr>
      <td>Глубина проймы спинки</td>
      <td>@Model.Measure.BackArmholeDepth</td>
    </tr>

    <tr>
      <td>Длина талии спинки</td>
      <td>@Model.Measure.BackWaistLength</td>
    </tr>

    <tr>
      <td>Ширина спинки</td>
      <td>@Model.Measure.BackWidth</td>
    </tr>

    <tr>
      <td>Центр груди</td>
      <td>@Model.Measure.BustCenter</td>
    </tr>

    <tr>
      <td>Обхват груди над грудью СГ1</td>
      <td>@Model.Measure.BustGirthUp</td>
    </tr>

    <tr>
      <td>Обхват груди с учетом лопаток СГ2</td>
      <td>@Model.Measure.BurstGirthSecond</td>
    </tr>

    <tr>
      <td>Высота груди</td>
      <td>@Model.Measure.BustHeight</td>
    </tr>

    <tr>
      <td>Ширина груди</td>
      <td>@Model.Measure.BustWidth</td>
    </tr>

    <tr>
      <td>Длина рукава для локтя</td>
      <td>@Model.Measure.ElbowLength</td>
    </tr>

    <tr>
      <td>Длина талии переда</td>
      <td>@Model.Measure.FrontWaistLength</td>
    </tr>

    <tr>
      <td>Высота бедер</td>
      <td>@Model.Measure.HipHeight</td>
    </tr>

    <tr>
      <td>Длина ноги</td>
      <td>@Model.Measure.LegLength</td>
    </tr>

    <tr>
      <td>Обхват шеи</td>
      <td>@Model.Measure.NeckGirth</td>
    </tr>

    <tr>
      <td>Высота сидения</td>
      <td>@Model.Measure.SeatHeight</td>
    </tr>

    <tr>
      <td>Длина плеча</td>
      <td>@Model.Measure.ShoulderToNeck</td>
    </tr>

    <tr>
      <td>Длина рукава</td>
      <td>@Model.Measure.ShoulderToWrist</td>
    </tr>

    <tr>
      <td>Высота плеча косая</td>
      <td>@Model.Measure.ShoulderHeight</td>
    </tr>

    <tr>
      <td>Обхват плеча</td>
      <td>@Model.Measure.UpperArm</td>
    </tr>

    <tr>
      <td>Расстояние от талии до пола сзади</td>
      <td>@Model.Measure.WaistFloorBackLength</td>
    </tr>

    <tr>
      <td>Расстояние от талии до пола спереди</td>
      <td>@Model.Measure.WaistFloorFrontLength</td>
    </tr>

    <tr>
      <td>Расстояние от талии до пола сбоку</td>
      <td>@Model.Measure.WaistFloorSideLength</td>
    </tr>

    <tr>
      <td>Обхват запястья</td>
      <td>@Model.Measure.WristGirth</td>
    </tr>

    </tbody>
</table>