@model PatternConstructor.ViewModels.DressCombinationModel
﻿@using PatternConstructor.Data.Enum

@{
    ViewData["Title"] = "Платье";
}

<h1>Комбинация выкройки платья</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="DressCombination">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Silhouette" class="control-label" ></label>
                <div>
                    @foreach (var l in Model.Silhouettes)
                    {
                        <input type="radio" asp-for="Silhouette" value="@l" /> @l
                    }
                </div>
                
                <span asp-validation-for="Silhouette" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Length" class="control-label" ></label>
                <div>
                    @foreach (var l in Model.Lengths)
                    {
                        <input type="radio" asp-for="Length" value="@l" /> @l
                    }
                </div>
                
                <span asp-validation-for="Length" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Neck" class="control-label"></label>
                <div>
                    @foreach (var l in Model.Necks)
                    {
                        <input type="radio" asp-for="Neck" value="@l" /> @l
                    }
                </div>
                <span asp-validation-for="Neck" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Collar" class="control-label"></label>
                <div>
                    @foreach (var l in Model.Collars)
                    {
                        <input type="radio" asp-for="Collar" value="@l" /> @l
                    }
                </div>
                <span asp-validation-for="Collar" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Clasp" class="control-label"></label>
                <div>
                    @foreach (var l in Model.Clasps)
                    {
                        <input type="radio" asp-for="Clasp" value="@l" /> @l
                    }
                </div>
                <span asp-validation-for="Clasp" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Waist" class="control-label"></label>
                <div>
                    @foreach (var l in Model.Waists)
                    {
                        <input type="radio" asp-for="Waist" value="@l" /> @l
                    }
                </div>
                <span asp-validation-for="Waist" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Sleeve" class="control-label"></label>
                <div>
                    @foreach (var l in Model.Sleeves)
                    {
                        <input type="radio" asp-for="Sleeve" value="@l" /> @l
                    }
                </div>
                <span asp-validation-for="Sleeve" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="DoubleContour" /> @Html.DisplayNameFor(model => model.DoubleContour)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
